<div class="container center_div ">
	<div class="row bg-light">
		<div class="col-3">
		</div>
		<div class="col-9 pt-3">
			<h2>New Interview</h2>
			<%= render 'form', interview: @interview, application: @application %>
			<%= link_to 'Back', interviews_path, class: "btn btn-info ml-3 mt-1" %>
		</div>
	</div>
</div>
