<div class="container center_div ">
	<div class="row bg-light">
		<div class="col-3">
		</div>
		<div class="col-9 pt-3">
			<h2>New Application</h2>
			<%= render 'form', application: @application %>
			<%= link_to 'Back', applications_path , class: "btn btn-info mt-1 ml-3"%>
		</div>
	</div>
</div>
