<h1>congratulations</h1>

<p>
  <%= @application.name %>, pleased to inform you have been selected.
  Accept or Decline the offer below
</p>
<button><a href="http://localhost:4000/accept/#{@application.id}">Accept Offer</a></button>
<button><a href="http://localhost:4000/reject/#{@application.id}">Reject Offer</a></button>
