<div class="container-fluid h-100" style="padding:0">
  <div class="jumbotron text-center h-100">
      <img src="https://www.beautifulcode.co/assets/logo-9bfde9e3d927e22049e07f53c02aecf80072413feb5e6af98684f9d554bf3b85.svg" width="50%" />
      <hr class="my-4">
      <button class="btn btn-primary col-bg-primary"><a class="col-fg-white" href="/auth/google_oauth2">Sign in with BeautifulCode account</a></button>
    </div>
</div>
    
