/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
  color: white;
  text-decoration: none;
}

.center-div {
  margin: 0 auto;
  width: 80%
}

.col-bg-primary{
  background-color: #DF364B !important;
  color: white !important;
  border:none;
}

.col-text-primary {
  color: #3A1A53 !important;
}

.col-bg-primary:hover{
  background-color: rgb(172, 42, 57) !important;
}

.col-fg-white{
  color: white;
}

button a  {
  color: white !important;
}

.col-bg-secondary {
  background-color: #FDF5EA !important;
}

.text-bold {
  font-weight: 600;
}

.rounded {
  border-radius: 5px;
}

.dropdown-item:hover{
  background-color: #df3648;
  color:white !important;
}

.nav-link {
  padding-top: 16px !important;
  padding-bottom: 0 !important;
}

/* a {
  text-decoration: none !important;
} */