<div class="jumbotron jumbotron-fluid">
  <div class="container "style="padding: 10%">
    <h1 class="display-4" style="text-align:center">Hello <%=@user_name%>!</h1>
    <p class="lead alert alert-primary" style="text-align:center">View Scheduled Interviews and Assigned interviews</p>
    <hr class="my-4">
		<div class="container" style="height" >
		<div class="row">
		  <p class="lead" style="float:left">
        <a class="btn btn-warning btn-lg" href="/users/:user_id/scheduled_interviews" role="button">View Scheduled Interviews</a>
      </p>
	    <p class="lead" style="float:right">
        <a class="btn btn-warning btn-lg" href="/users/:user_id/assigned_interviews" role="button">Accept/Decline Interviews</a>
      </p>
		</div>
	</div>

  </div>
</div>

