<nav class="navbar navbar-expand-lg navbar-light bg-light"  >
	<a class="navbar-brand" href="#">
		BeautifulCode
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<% if session[:role] == "HIRING MANAGER"%>
				<li class="nav-item active">
					<a class="nav-link" href="/manager">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Applications
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/applications/new">Create</a>
						<a class="dropdown-item" href="/openapplications">Open </a>
						<a class="dropdown-item" href="/inprogressapplications/">InProgress</a>
						<a class="dropdown-item" href="/acceptedapplications">Accepted-closed</a>
						<a class="dropdown-item" href="/rejectedapplications">Rejected-closed</a>
						<a class="dropdown-item" href="/applications">all</a>
					</div>
				</li>
			<% else %>
				<li class="nav-item active">
					<a class="nav-link" href="/interviewer">Home <span class="sr-only">(current)</span></a>
				</li>
			<% end%>

		</ul>
		<form class="form-inline my-2 my-lg-0">
			<button class="btn btn-warning"><%= link_to "Log out", logout_path %></button>
		</form>
	</div>
</nav>
